@font-face {
    font-family: "Oswald-Regular";
    src: url("../src/Fonts/Oswald/Oswald-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "roboto";
    src: url("../src/Fonts/Roboto/roboto.ttf") format("truetype");
}
@import "tailwindcss";
@source "../src/Scripts/*.js";

@theme {
    --font-logo: "Oswald-Regular";
    --font-main: "roboto";
}
@utility flexAllCenter {
    @apply flex items-center justify-center;
}
